@charset "utf-8";
/* CSS Document */

/*---------------- main---------------------- */
#main{ width:100%; margin:0 auto; background:#f5f5f5;overflow: hidden;}
.main{ width:1200px; margin:0 auto;padding-top: 15px;margin-bottom: 30px;}
/* 左边 */
.main_l{ background:#0067b3; width:221px; height:100%; float:left;}
.main_l h1{ margin-top:20px;}
.main_l h1 a{color:#fff;font-family: 微软雅黑;font-size:30px; font-weight:bold;margin-left: 25px;}


 
/*.no{ display:none; margin-top: 2px;margin-left: 56px;}
.main_l ul.list li.zk:hover .no{ display:block;}
.list li ul.no li{color: #fff; background:url(../img/dian.png) -2px center no-repeat;padding-left: 13px;}
.list li ul.no li a{  color:#a4d8ff;font-family: 微软雅黑;font-size:12px;line-height: 23px; background:none !important; te}
.list li ul.no li.zk2:hover a{ color:#fff;}*/


/* 密码修改右边 */
.main_r{ width:950px; border:1px solid #e3e3e3; float:right; background:#fff;min-height: 365px;margin-bottom: 28px;}
.main_r h1{margin-top: 13px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;}
.p_m{ width:950px;text-align: -webkit-center;margin-top: 50px;margin-bottom: 150px;}
.p_m img{ margin:0 auto;}
/* input[type="text"], textarea { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-family:微软雅黑; font-size:16px; border:1px solid #CCC;} */
.p_m p{ margin-bottom:13px;}

/* 会员中心右边 */
.Mem{ margin-left:25px; margin-right:25px;overflow: hidden;border-bottom: 1px dashed #cccccc;height: 191px;}
.Mem a{ float:left;}
.Mem a img{ width:137px;padding-left: 2px;padding-top: 24px;}
.ME{width: 320px;float: left;padding-top: 30px;padding-left: 35px;}
.ME p{ line-height:24px;font-family:微软雅黑; font-size:14px; color:#666;}
.ME p span{ padding-left:7px;}
.Mem_r{width: 900px; margin:0 auto;margin-top: 50px;border-bottom: 1px dashed #cccccc;overflow: hidden;}
.Mem_r li.Mem_r1{ background:url(../img/M_u1.png) no-repeat; height:115px; width:128px;}
.Mem_r li.Mem_r1:hover{ background:url(../img/M_u1hover.png) no-repeat; }
.Mem_r li.Mem_r1:hover a p{color:#0067b3;}
.Mem_r li.Mem_r2{ background:url(../img/M_u2.png) no-repeat; height:115px; width:128px}
.Mem_r li.Mem_r2:hover{ background:url(../img/M_u2hover.png) no-repeat;}
.Mem_r li.Mem_r2:hover a p{color:#0067b3;}
.Mem_r li.Mem_r3{ background:url(../img/M_u3.png) no-repeat; height:115px; width:128px}
.Mem_r li.Mem_r3:hover{ background:url(../img/M_u3hover.png) no-repeat; color:#0067b3;}
.Mem_r li.Mem_r3:hover a p{color:#0067b3;}
.Mem_r li.Mem_r4{ background:url(../img/M_u4.png) no-repeat; height:115px; width:128px;}
.Mem_r li.Mem_r4:hover{ background:url(../img/M_u4hover.png) no-repeat; }
.Mem_r li.Mem_r4:hover a p{color:#0067b3;}
.Mem_r li.Mem_r5{ background:url(../img/M_u5.png) no-repeat; height:115px; width:128px;}
.Mem_r li.Mem_r5:hover{ background:url(../img/M_u5hover.png) no-repeat; }
.Mem_r li.Mem_r5:hover a p{color:#0067b3;}
.Mem_r li.Mem_r6{ background:url(../img/M_u6.png) no-repeat; height:115px; width:128px;}
.Mem_r li.Mem_r6:hover{ background:url(../img/M_u6hover.png) no-repeat; }
.Mem_r li.Mem_r6:hover a p{color:#0067b3;}
.Mem_r li.Mem_r7{ background:url(../img/M_u7.png) no-repeat; height:115px; width:115px;}
.Mem_r li.Mem_r7:hover{ background:url(../img/M_u7hover.png) no-repeat; }
.Mem_r li.Mem_r7:hover a p{color:#0067b3;}
.Mem_r li.Mem_r8{ background:url(../img/M_u8.png) no-repeat; height:115px; width:115px;}
.Mem_r li.Mem_r8:hover{ background:url(../img/M_u8hover.png) no-repeat; }
.Mem_r li.Mem_r8:hover a p{color:#0067b3;}
.Mem_r li{ float:left;}
.Mem_r li a p{font-family:微软雅黑; font-size:14px; color:#fff;padding-top: 70px;padding-left: 26px;}
.ul_l{ width:435px; float:left;margin-top: 50px; float:left; position:relative;}
.ul_l h2{ border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ccc;font-family:微软雅黑; font-size:18px; color:#0067b3;margin-left: 21px;margin-bottom: 15px;padding-bottom: 15px;padding-left: 5px;font-weight: normal;}
.ul_l a span.po{ position:absolute; top:7px; right:27px;font-family:微软雅黑; font-size:12px; color:#222;}
.ul_l a span.po:hover{color:#0067b3;}
.ul_l ul li p{ font-family:微软雅黑; font-size:14px; color:#aaaaaa; width:330px; float:left;padding-left: 20px;}
.ul_l ul li p:hover{ color:#0067b3;}
.ul_l ul li span{ font-family:微软雅黑; font-size:12px; color:#aaaaaa;}
.ul_l ul li{ height:30px;background: url(../img/ul_li.png) 6px 7px no-repeat;}
.ul_l ul{margin-left: 21px;margin-bottom: 50PX;}
.ul_l ul li{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ccc;margin-bottom: 5px;padding-bottom: 5px;}

.ul_r{ width:435px; float:left;margin-top: 50px; float:right;margin-right: 22px; position:relative;}
.ul_r h2{ border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ccc;font-family:微软雅黑; font-size:18px; color:#0067b3;margin-left: 21px;margin-bottom: 15px;padding-bottom: 15px;padding-left: 5px;font-weight: normal;}
.ul_r a span.po{ position:absolute; top:7px; right:27px;font-family:微软雅黑; font-size:12px; color:#222;}
.ul_r a span.po:hover{color:#0067b3;}
.ul_r ul li p{ font-family:微软雅黑; font-size:14px; color:#aaaaaa; width:330px; float:left;padding-left: 20px;}
.ul_r ul li p:hover{ color:#0067b3;}
.ul_r ul li span{ font-family:微软雅黑; font-size:12px; color:#aaaaaa;}
.ul_r ul li{ height:30px;background: url(../img/ul_li.png) 6px 7px no-repeat;}
.ul_r ul{margin-left: 21px;margin-bottom: 50PX;}
.ul_r ul li{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ccc;margin-bottom: 5px;padding-bottom: 5px;}

/* 账号信息右边-选项卡 */
.demopage{width:760px;margin:0 auto;}
.demopage h2{font-size:14px;text-align:center;}
/* tabbox */
.tabbox{width:911px;margin:20px auto;position:relative;overflow:hidden;}
.tabbox .tabbtn{height:30px;}
.tabbox .tabbtn li{float:left;position:relative;margin:0 5px 0 -1px;}
.tabbox .tabbtn li a,.tabbox .tabbtn li span{display:block;float:left;height:30px;line-height:30px;overflow:hidden;width:89px;text-align:center;font-size:12px;cursor:pointer;font-family: 微软雅黑;font-size: 14px;color: #333;background:#e3e3e3;}
.tabbox .tabbtn li.current{}
.tabbox .tabbtn li.current a,.tabbox .tabbtn li.current span{ background:#ff852e; color:#fff;width: 89px;}
.tabbox .loading{height:40px;width:432px;text-align:center;position:absolute;left:0;top:120px;}
.tabbox .tabcon{padding-top:10px;}



table{ width:900px;border-spacing: 0;border-collapse: collapse; }
table tr td{ border:1px solid #e3e3e3;text-align: center; height:50px;font-family: 微软雅黑;font-size: 12px;color:#666;}
.top_o{ background:#0067b3;}
.top_o td{ border:1px solid #0067b3; color:#fff;font-family: 微软雅黑;font-size: 14px;}
.top_ll{ text-align:left; padding-left:30px;}
.top_ll p:hover{ color:#ff852e; cursor:pointer;}


/* 下一页
.next{margin-top: 30px;margin-bottom: 28px;text-align: center;}
.next a{ color:#898989;font-family: 微软雅黑;font-size: 12px;border: 1px solid #e3e3e3;padding: 5px 10px 5px 9px;background: #fff;}
.next a.cur{ color:#fff; background:#0067b3;}
.next a.info{ border:none;}
*/
.tabcon form span{color:#333;font-family: 微软雅黑;font-size: 14px;}
.tabcon form input{ width:322px;margin-left: 30px;height: 34px;border-radius:0px;margin-bottom: 7px;}
.tabcon form span.in_l{padding-right: 64px;}
.tabcon form p{width: 391px;float: left;margin-left: 93px;color:#898989;font-family: 微软雅黑;font-size: 12px;}
.tabcon input[type="text"], textarea {  font-family:微软雅黑; font-size:12px; text-indent:0.5em;}
.tabcon span.in_b input{ background:#f5f5f5;}

/*文件上传*/
.message{ width:477px; float:left;}
.message .input{width:237px;height:33px;line-height:33px;padding-left:20px;color:#333;border: 1px solid #ccc;margin-left: 27px;text-indent:0em !important;  background:#f5f5f5;}
.message .liulan{width:64px;height:33px;border:1px solid #0067b3;background:#0067b3;color:#ffffff;cursor:pointer;margin-left: -4px;font-family: 微软雅黑;
font-size: 14px;}
.message .files{position:absolute;left:-1000px;top:52px;heigth:34px;cursor:pointer;filter: Alpha(opacity=0);-moz-opacity:0;opacity:0;}




/*联系人资料*/

/*文件上传*/
.M_2{margin-top: 20px;margin-left: 22px;}	
.M_2 table tr th{ height:45px;font-weight:normal;text-align:left;}
.M_2 table tr th.th_1{margin-top: 20px;margin-bottom: 17px;color:#333;font-family: 微软雅黑;font-size: 14px; text-align: right;}
.M_2 table tr th input{width:350px;margin-left: 30px;height: 33px;border-radius:0px;margin-bottom: -5px;font-family: 微软雅黑;font-size: 12px;text-indent:0.5em; color:#222;text-align: left;line-height: 33px;}
.M_2 table tr th span{color:#898989;padding-left: 17px;vertical-align: bottom;font-family: 微软雅黑;}

.message_2{ width:755px;}
.message_2 span{ font-family: 微软雅黑;font-size: 12px; color:#666;}
.message_2 .input{width:286px;height:33px;line-height:33px;border:none;background:#fff;color:#333;font-family:Microsoft YaHei;border: 1px solid #ccc;margin-left: 30px;color:#222;}
.message_2 .liulan{width:64px;height:33px;border:1px solid #0067b3;background:#0067b3;color:#ffffff;cursor:pointer;margin-left: -4px;font-family: 微软雅黑;font-size: 14px;text-align: center;}
.message_2 .files{position:absolute;left:-1000px;top:52px;heigth:33px;cursor:pointer;filter: Alpha(opacity=0);-moz-opacity:0;opacity:0;}
.message_2 span.m_p{color:#898989;padding-left: 17px;vertical-align: bottom;}

/*公司资料*/
.diy_select{height:34px;width: 112px;background: #fff;float: left;color:#666;font-family: 微软雅黑;font-size: 12px;margin-right: 5px; position:relative;}
	.diy_select_btn,.diy_select_txt{float: left;height: 100%;line-height: 28px}
	.diy_select,.diy_select_list{border: 1px solid #ccc;}
	.diy_select_txt{width: 83px;}
	.diy_select_txt,.diy_select_list li{text-indent: 10px;overflow: hidden}
	.diy_select_btn{width: 28px;background: url(../img/rec.gif) no-repeat center;border: 1px solid #0067b3;width: 18px;height: 18px;margin-top: 6px;}
	.diy_select_list{position: absolute;top: 28px;left: -1px;z-index: 88888;border-top: none;width: 100%;display: none;_top:29px;background: #fff;}
	.diy_select_list li{list-style: none;height: 25px;line-height: 25px;cursor:default;_background:#fff}
	.diy_select_list li.focus{background: #3399FF;color: #fff}
	
.M_3{margin-top: 20px;margin-left: 22px;}	
.M_3 table tr th{ height:45px;font-weight:normal; text-align:left;}
.M_3 table tr th.th_1{margin-top: 20px;margin-bottom: 17px;color:#666;font-family: 微软雅黑;font-size: 12px; text-align: right;}
.M_3 table tr th input{width:350px;margin-left: 30px;height: 33px;border-radius:0px;margin-bottom: -6px;font-family: 微软雅黑;font-size: 12px;text-indent:0.5em; color:#222;text-align: left;}
.M_3 table tr th span{color:#898989;padding-left: 17px;vertical-align: bottom;font-family: 微软雅黑;}


/*物流信息*/
.M_4{ width:900px; margin:0 auto;margin-top:20px;}
.M_4 p.nm{ text-align:right; color:#FFF; font-family: 微软雅黑;font-size: 12px; background:url(../img/M_4.png) 826px no-repeat;padding-right: 16px; font-weight:bold;padding-top: 5px;
padding-bottom: 5px;}
.M_4 table{ margin-top:20px;}

/*弹框*/
.tan{ width:580px;}
.tan table{ width:750px;}
.tan table tr th input{ border-radius:0px;font-family: 微软雅黑;font-size: 12px;text-indent:0.5em; color:#222; width:350px; height:30px; margin-bottom:5px;margin-left: 30px;}
.tan h1{ color:#0067b3;font-family: 微软雅黑;font-size: 16px;}
.tan table tr th.th_1{text-align: right;}
.tan table tr th{font-weight:normal;font-family: 微软雅黑;font-size: 14px; }


.M_4 table tr td a.aq{ float: left;margin-left: 25px;color:#0067b3;font-family: 微软雅黑;font-size: 12px;}
.M_4 table tr td a.ap{ margin-right: 22px;color:#ff0000;font-family: 微软雅黑;font-size: 12px;}


/*财务信息*/
.M_5{ width:900px; margin:0 auto;margin-top:20px;}
.M_5 p.nm{ text-align:right; color:#FFF; font-family: 微软雅黑;font-size: 12px; background:url(../img/M_4.png) 826px no-repeat;padding-right: 16px; font-weight:bold;padding-top: 5px;
padding-bottom: 5px;}
.M_5 table{ margin-top:20px;}
.M_5 table tr td a.aq{ float: left;margin-left: 25px;color:#0067b3;font-family: 微软雅黑;font-size: 12px;}
.M_5 table tr td a.ap{ margin-right: 22px;color:#ff0000;font-family: 微软雅黑;font-size: 12px;}
.M_5t{ width:623px; margin:0 auto;margin-top: 43px;}
.M_5t  table{ width:623px; margin:0 auto;}
.M_5t  table tr th.M_5l{color:#333; font-family: 微软雅黑;font-size: 14px; width:130px; font-weight:normal; text-align:right; }
.M_5t  table tr th input.inp_srh{ width:316px; border:1px solid #0067b3;height:33px; margin-bottom:20px; margin-top:20px;margin-left: 20px;color:#333;font-family: 微软雅黑;font-size: 12px;}
.M_5t  table tr th input.btn_srh{ background:#0067b3;border:1px solid #0067b3; color:#fff;font-family: 微软雅黑;font-size: 14px; height:35px; width:60px; cursor:pointer;}

.M_5t  table tr th input.inp_srh1{ width:316px; border:1px solid #ff852e;height:33px; margin-bottom:20px; margin-top:20px;margin-left: 20px;color:#333;font-family: 微软雅黑;font-size: 12px;}
.M_5t  table tr th input.btn_srh1{ background:#ff852e;border:1px solid #ff852e; color:#fff;font-family: 微软雅黑;font-size: 14px; height:35px; width:60px;cursor:pointer;}



/* 公司证件*/
.pro{margin-top: 50px;}
.pro table{ width:575px; margin:0 auto;}
.pro table tr td.por_l{ color:#333;font-family: 微软雅黑;font-size: 14px; text-align:right;}
.pro table tr td{ color:#666;font-family: 微软雅黑;font-size: 14px;text-align: left; border:none;height: 30px;line-height: 30px;}
.pro table tr td input{ border-radius:0px; background:#fff; width:360px;font-size: 12px;color: #666; font-family:微软雅黑;}
.pro table tr td p{color:#898989;font-family: 微软雅黑;font-size: 12px; padding-left: 36px;vertical-align: top;height: 30px;line-height: 20px;}
.pro table tr{ height: 30px;line-height: 30px}




/* 订单管理*/
.main_ror{ width: 950px;float: right;min-height: 365px;background: #fff;}
.main_ror h1{margin-top: 13px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;}
.order{ background:#fff;}
.order table{ width:897px; margin:0 auto;}
.order form input{ width:205px; height:34px;border-radius: 5px;-moz-border-radius: 0px;-webkit-border-radius: 0px;font-family: 微软雅黑;font-size: 12px;border: 1px solid #CCC;margin-right: 19px;}
.order tr td{ font-family: 微软雅黑;font-size: 14px; color:#666;border: 0px solid #e3e3e3;}

/*时间选择*/
.category{font:12px Arial, Tahoma!important;font:11px Arial, Tahoma;color:#90F;/*星期字体颜色*/height:14px;background-color:#CF9;/*星期字体背景色*/}
.category td{ height:14px;border-bottom:2px solid #3CF;/*星期与日期分割线颜色及宽度*/ border:0px;}
.expire, .expire a:link, .expire a:visited{color:#999;/*当前日期后的颜色*/}
.default, .default a:link, .default a:visited{color:#000;/*当前日期后的颜色*/}
.checked, .checked a:link, .checked a:visited{color:#F00;/*选定年份、选定月份及选定日期的颜色*/}
.today, .today a:link, .today a:visited{color:#0F0;/*当前年份、当前月份及当前日期的颜色*/}
#calendar_year{display:none;line-height:130%;background:#3CF;/*年份选择框分割线颜色*/position:absolute;z-index:10;}
#calendar_year .col{float:left;background:#3CF;/*年份选择框底色*/margin-left:0px;border:0px solid #3CF;/*年份选择框边框颜色及宽度*/padding:2px;}
#calendar_month{display:none;background:#3CF;/*月份选择框底色*/line-height:130%;border:0px solid #3CF;/*月份选择框边框颜色及宽度*/padding:2px;position:fixed;z-index:11;}
.tableborder{background:white;border:2px solid #3CF;/*控件边框颜色*/}
#year, #month{padding-right:2px;color:#fff;}
.header1{font:12px Arial, Tahoma!important;font-weight:bold!important;font:11px Arial, Tahoma;font-weight:bold;color:#fff;/*年月连字符颜色*/background:#0067b3;/*年月连字符背景色*/height:14px;padding-left:10px;border:0px;}
.altbg2 td{ height:14px; border:0px;}


.order2 table{ width:950px; }
.order_1{ background: #0067b3;}
.order_1 td{border:0px; color:#fff;font-family: 微软雅黑;font-size: 14px;}
.order_2,.order_3 td{ color:#666;font-family: 微软雅黑;font-size: 12px; }
.order_2{background:#eaf8ff; height:40px;border:1px solid #cbeaf9;}
.order_2 td{ border:0px;text-align: left; }
.order_2 td span{ margin-left:10px;margin-right: 14px;}
.order_3 td{ border:1px solid #cbeaf9; background:#fff;}
.order_3 img{ padding-left: 6px;padding-top: 6px;float: left;padding-bottom: 6px;}

/*order第一步*/
.main_ror1{ width:950px;float:right;}
.main_ror1 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;}
.o_li{width:950px;float:right; background:url(../img/Order_li.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.o_li p{ font-family:微软雅黑; font-size:14px; color:#666;}
.o_li p span{ margin-left:70px; margin-right:75px;}
.o_li p span.ui{ color:#fff;}


.o_k{ width:950px; float:right; background:#fff; margin-top:10px;padding-bottom: 30px;padding-top: 40px;}
.o_k h2{ margin: -22px 10px 14px 24px;color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;}
.o_k table{ width:700px; margin:0 auto;}
.o_k table td{ border:0px;}
.o_k table td input{ float:left; width:560px;border-radius:0px;color:#898989;font-family: 微软雅黑;font-size: 12px; height:34px; text-indent:1em;background-color:#f5f5f5;margin-left: 14px;}
.o_k table td.o_k_l{ text-align:right;color:#333;font-family: 微软雅黑;font-size: 14px;}
.o_k table td textarea{height:126px;width: 561px;margin-left: -17px; border-radius: 0px;margin-top: 7px; border:1px solid #e3e3e3; background:#f5f5f5;color:#898989;font-family: 微软雅黑;font-size: 12px;resize : none;padding-left: 10PX;padding-top: 10PX;}

/*下一步*/
.o_next{  float:right; margin-top:20px;margin-right: -14px;}
.o_next a{ float:left; margin-right:15px;}
.o_next a p{ font-family: 微软雅黑;font-size: 14px;background:#0067b3; color:#fff; width:100px; height:35px; text-align:center; vertical-align:middle; line-height:35px;cursor:default;}


/*order第二步*/
.main_ror2{ width:950px;float:right;}
.main_ror2 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;}
.o_li2{width:950px;float:right; background:url(../img/Order_li1.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.o_li2 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.o_li2 p span{ margin-left:70px; margin-right:75px;}
.o_li2 p span.ui{ color:#fff;}


.o_k2{ width:950px; float:right; background:#fff; margin-top:10px;padding-bottom: 30px;padding-top: 40px;}
.o_k2 table{ width:910px; margin:0 auto;}
.o_k2 table td{ border:1px;}
.o_k2 table td input{ float:left; width:330px;border-radius:0px;color:#222;font-family: 微软雅黑;font-size: 12px; height:34px; text-indent:1em;background-color:#fff;margin-left: 14px;}
.o_k2 table td.o_k_l2{ text-align:right;color:#666;font-family: 微软雅黑;font-size: 12px; width:101px;}
.o_k2 h2{ margin: -22px 10px 14px 24px;color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;}

/*order第三步*/
.main_ror3{ width:950px;float:right;}
.main_ror3 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;}
.o_li3{width:950px;float:right; background:url(../img/Order_li2.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.o_li3 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.o_li3 p span{ margin-left:70px; margin-right:75px;}
.o_li3 p span.ui{ color:#fff;}


.o_k3{ width:950px; float:right; background:#fff; margin-top:10px;padding-bottom: 30px;padding-top: 40px;}
.o_k3 table{ width:910px; margin:0 auto;}
.o_k3 table td{ border:1px;}
.o_k3 table td input{ float:left; width:330px;border-radius:0px;color:#222;font-family: 微软雅黑;font-size: 12px; height:34px; text-indent:1em;background-color:#fff;margin-left: 14px;}
.o_k3 table td.o_k_l3{ text-align:right;color:#666;font-family: 微软雅黑;font-size: 12px; width:101px;}
.o_k3 h2{ margin: -22px 10px 14px 24px;color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;}


/*order第四步*/
.main_ror4{ width:950px;float:right;}
.main_ror4 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;}
.o_li4{width:950px;float:right; background:url(../img/Order_li3.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.o_li4 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.o_li4 p span{ margin-left:70px; margin-right:75px;}
.o_li4 p span.ui{ color:#fff;}

.o_k4{ width:950px; float:right; background:#fff; margin-top:10px;padding-bottom: 30px;padding-top: 40px;}
.o_k4 h2{ margin: -22px 10px 14px 24px;color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;}
.o_k4 table{ width:926px; margin:0 auto;}
.o_k4 table td{ border:1px;}
.o_k4 table td input{ float:left;border-radius:0px;color:#222;font-family: 微软雅黑;font-size: 12px; height:34px; text-indent:1em;background-color:#f5f5f5;margin-left: 14px;}
.o_k4 table td.o_k_l4{ text-align:right;color:#333;font-family: 微软雅黑;font-size: 14px; }

.o_k4 table.b_b{width: 704px;float: left;}
.o_k4 table.b_b tr td{ height:30px;}

table.b_b{ width:560px;}
table.b_b tr th input{ height:30px; width:30px; float:left;margin-left: 0px;}

.o_k4 table.sp_y{width: 704px;float: left;}
.o_k4 table.sp_y tr td{ height:30px;}

.sp_y1 tr th label{color:#666;font-family: 微软雅黑;font-size: 12px; }
table.sp_y1 tr th{ height:36px;}
table.sp_y1 tr th input{margin-top: -6px;}

/*order第五步*/
.main_ror5{ width:950px;float:right;}
.main_ror5 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;}
.o_li5{width:950px;float:right; background:url(../img/Order_li4.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.o_li5 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.o_li5 p span{ margin-left:70px; margin-right:75px;}
.o_li5 p span.ui{ color:#fff;}

.o_k5{ width:950px; float:right; background:#fff; margin-top:10px;padding-bottom: 30px;padding-top: 10px;}
.o_k5 table{ width:910px; margin:0 auto;}
.o_k5 table td{ border:1px;}
.o_k5 table td input{ float:left;border-radius:0px;color:#222;font-family: 微软雅黑;font-size: 12px; height:34px; text-indent:1em;background-color:#f5f5f5;margin-left: 14px;}
.o_k5 table td.o_k_l5{ text-align:right;color:#333;font-family: 微软雅黑;font-size: 14px; }
.o_k5 h2{ margin: -22px 10px 14px 24px;color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;}

table.q_q{ margin-left: 33px;margin-top: 20px; }
table.q_q td span{ font-family:微软雅黑; font-size:14px; color:#666;}
table.q_q td input{ margin-right:10px;}

.o_k5s{ width:950px; float:right; background:#fff; margin-top:10px;padding-bottom: 30px;padding-top: 50px;}
.o_k5s table{ width:910px; margin:0 auto;margin-left: 23px;}
.o_k5s table td{ border:1px;}
.o_k5s table td input{ float:left;border-radius:0px;color:black;font-family: 微软雅黑;font-size: 12px; height:34px; text-indent:1em;margin-left: 14px; width:330px;}
.o_k5s table td.o_k_l5{ text-align:right;color:#333;font-family: 微软雅黑;font-size: 14px; }
.o_k5s h2{ margin: -22px 10px 14px 24px;color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;}

.o_k6{ width:950px; float:right; background:#fff; margin-top:10px; margin-bottom:50px;padding-bottom: 30px;padding-top: 10px;}
.o_k6 table{ width:910px; margin:0 auto;}
.o_k6 table td{ border:1px;}

/*报检管理*/
.main_ror6{ width: 950px;float: right;min-height: 365px;}
.order6{ background:#fff;border:1px solid #e3e3e3;}
.order6 h1{padding-top: 13px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;padding-top: 19px;}
.order6 table{ width:897px; margin:0 auto;margin-top: 18px;}
/* .order6 form input{ width:205px; height:34px;border-radius: 5px;-moz-border-radius: 0px;-webkit-border-radius: 0px;font-family: 微软雅黑;font-size: 12px;border: 1px solid #CCC;margin-right: 19px;} */
.order6 tr td{ font-family: 微软雅黑;font-size: 14px; color:#666;border: 0px solid #e3e3e3;}

.upp{margin-left: 713px;padding-bottom: 50px;padding-top: 20px; }
.uppx{margin-left: 713px;padding-bottom: 14px;padding-top: 4px; }
.upp span.upp_s p{color: #fff;font-family: 微软雅黑;font-size: 14px;background: url(../img/Order_shou.png) -6px -2px no-repeat;border: 1px solid #ff852e;padding-bottom: 10px;
cursor: pointer;margin-top: 7px;width: 78px;text-align: center;float: left;height: 19px;
padding-top: 3px;margin-right: 5px;padding-left: 10px;}

.upp span.upp_sp p{color: #fff;font-family: 微软雅黑;font-size: 14px;background: url(../img/Order_zhan.png) -6px -2px no-repeat;border: 1px solid #ff852e;padding-bottom: 10px;
cursor: pointer;margin-top: 7px;width: 78px;text-align: center;float: left;height: 19px;
padding-top: 3px;margin-right: 5px;padding-left: 10px;}
.upp span.upp_sp{ display:none;}
.upp span input{width: 90px;color: #fff;font-family: 微软雅黑;font-size: 14px; text-align:center; background:url(../img/Order_sou.png) no-repeat;border: 1px solid #0067b3;padding-left: 22px;padding-bottom: 4px; cursor:pointer;height: 34px;line-height: 31px;margin-top: 7px;}

.uppx span input{width: 90px;color: #fff;font-family: 微软雅黑;font-size: 14px; text-align:center; background:url(../img/Test-items_3img.png) no-repeat;border: 1px solid #0067b3;padding-left: 22px;padding-bottom: 4px; cursor:pointer;height: 34px;line-height: 31px;margin-top: 7px;}

.M_6{ width:950px; margin:0 auto;margin-top:20px; background:#fff; }
.M_6 p.nm{ text-align:right; color:#FFF; font-family: 微软雅黑;font-size: 12px; background:url(../img/M_4.png) 826px no-repeat;padding-right: 16px; font-weight:bold;padding-top: 5px;
padding-bottom: 5px;}
.M_6 table{ margin-top:20px;width: 950px;}

.top_o6{ background:#0067b3;}
.top_o6 td{ border:1px solid #0080df; color:#fff;font-family: 微软雅黑;font-size: 14px;}
.top_ll{ text-align:left; padding-left:24px;}
.top_c{ color:#0067b3;}
.top_co{ color:#fff; background:url(../img/Report1.png) 11px 66px no-repeat;padding-top: 37px;}


.order_3t{height: 108px;}
.order_3t td{ text-align:left;font-family: 微软雅黑;font-size: 12px;border:1px solid #cbeaf9; background:#fff;padding-left: 12px;padding-right: 10px;}
.order_3t td p a{color:#666;}

@media print { 
 .noprint{display:none;}
}


.o_k6{ width:950px; margin-top:10px;}
.o_k6 table{ width:910px; margin:0 auto;}
.o_k6 table td{ border:1px;}
.o_k6 table td input{ float:left;border-radius:0px;color:#222;font-family: 微软雅黑;font-size: 12px; height:30px; text-indent:1em;background-color:#f5f5f5;margin-left: 14px;}
.o_k6 table td.o_k_l6{ text-align:right;color:#fff;font-family: 微软雅黑;font-size: 14px; }
.o_k6 button{}




/*2015.7.6*/
.top_co{ position:relative; cursor:pointer;}
.top_co input{background:#ff852e; color:#fff; font-family:微软雅黑; font-size:12px; border:1px solid #ff852e;padding-left: 13px;padding-right: 14px;margin-left: -3px;}
table .mbx{ display:none; position:absolute;top:68px; right:-58px; width:100px; background:#fff;z-index: 10000;border: 1px solid #666;border-collapse: initial;border-radius: 9px;}
table .mbx tr{ }
table .mbx tr td{ color:#333; font-family:微软雅黑; font-size:12px; cursor:pointer; border:0px;}
table .mbx tr td:hover{ color:#0067b3;}

/*商户会员首页*/
.tztab{  background-color:#fff; padding:22px; margin-bottom:10px;}
.tzbt{ color:#0067b3; font-size:18px; padding-bottom:16px;font-family:微软雅黑;}
.tzn{}
.tzns{}
.tzns td{ line-height:42px; background-color:#0067b3; color:#fff; font-size:14px; text-align:center;border-top: 0px;border-left: 0px;border-right: 0px;}
.tznx{}
.tznx td{text-align:center; border-bottom:1px solid #e3e3e3; height:38px; color:#666666;border-top: 0px;border-left: 0px;border-right: 0px;}
td.dtime{ text-align:left; padding-left:27px; color:#ff9200;}


/*搜索框*/
.head_sou{ width:250px; height:90px; background:#0067b3; position:absolute; display:none;}

.dropDownList{position:absolute;right:29px;top:11px;}
.dropDownList div.dropdown{margin-right:120px;display:block;width:90px;height:26px;background:#0067b3 url(../img/001.png) 70px center no-repeat;line-height:26px;text-indent:12px;border:solid 1px #0078d1;cursor:default;color: #fff;}
.dropDownList span{display:block;width:90px;height:26px;background:#0067b3 url(../img/001.png) 70px center no-repeat;line-height:26px;text-indent:12px;border:solid 1px #0078d1;cursor:default;color: #fff;}
.dropDownList span.over{background-position:left bottom;border-color:#0078d1;background: #0067b3 url(../img/002.png) 70px center no-repeat;}
	.dropDownList ul{width:90px;display:none;position:absolute;}
		.dropDownList ul li{background:#eee;height:20px;width:100%;padding:3px 0;text-indent:12px;cursor:default;line-height:20px; color:#333;}
		/*普通状态下的样式*/
		.dropDownList ul li.normal{background:#eee;}
		/*鼠标移上的样式*/
		.dropDownList ul li.hover{background:#ccc;}
		/*被选中的样式*/
		.dropDownList ul li.current{background:#c2c2c2;font-weight:bold;}
	.dropDownList ul.show{display:block;}

/*商户会员Member_6*/
.main_rm6{ width:950px; border:1px solid #e3e3e3; float:right; background:#fff;height: 125px;margin-bottom: 0px;}
.main_rm6 h1{margin-top: 13px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;}
/* tabbox1 */
.tabbox1{width:950px;margin:20px auto;position:relative;overflow:hidden;float:right;}
.tabbox1 .tabbtn1{height:39px; background:#fff;border: 1px solid #e4e4e4;}
.tabbox1 .tabbtn1 li{float:left;position:relative;margin:0 5px 0 17px;}
.tabbox1 .tabbtn1 li a,.tabbox1 .tabbtn1 li span{display:block;float:left;height:39px;line-height:39px;overflow:hidden;width:89px;text-align:center;font-size:12px;cursor:pointer;font-family: 微软雅黑;font-size: 14px;color: #666;}
.tabbox1 .tabbtn1 li.current{}
.tabbox1 .tabbtn1 li.current a,.tabbox1 .tabbtn1 li.current span{ background:#0067b3; color:#fff;width: 89px;padding-left: 5px;padding-right: 5px;}
.tabbox1 .loading{height:40px;width:432px;text-align:center;position:absolute;left:0;top:120px;}
.tabbox1 .tabcon11{padding-top: 24px;background: #fff;margin-top: 16px;}

.tabcon1 h3{ margin-left:19px; color:#0067b3;font-family:微软雅黑; font-size:18px; font-weight:normal;}
.tabcon1 .pro{margin-top: 21px;}
.tabcon1 .pro tr td input{ width:330px;color:#222;font-family:微软雅黑; font-size:12px; height:33px;margin-left: 20px;text-indent: 1em;}
.tabcon1 .pro tr td input.liulan{width:55px;color:#fff;font-family:微软雅黑; font-size:12px; height:33px;margin-left: -4px;padding-right: 9px;}
.tabcon1 .pro table{ margin:0 auto; width:600px;}
.tabcon1 .pro table tr td.th_1{margin-top: 20px;margin-bottom: 17px;color:#666;font-family: 微软雅黑;font-size: 12px; text-align: right;}
.tabcon1 .pro table tr{ height: 50px;line-height: 50px}
.tabcon1 .pro table tr td.por_l{ color:#666;font-family: 微软雅黑;font-size: 12px; text-align:right;}


/*商户会员中心report*/
td.ap a{ color:#FFF;background:#e60d0d;padding: 2px 5px 2px 5px;}
td.apa a{ color:#FFF;background:#0067b3;padding: 2px 5px 2px 5px;}

.order7 form tr.qop1 td input{ width:140px;margin-right: 6px;}
.order7 form tr.qop1 td.yi{ width:60px;}

.main_ror7{ width: 950px;float: right;min-height: 365px;}
.main_ror7 h1{margin-top: 1px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;padding-top: 19px;}
.order7{ background:#fff;padding-bottom: 20px;}
.order7 table{ width:897px; margin:0 auto;}
.order7 form input{ width:205px; height:34px;border-radius: 5px;-moz-border-radius: 0px;-webkit-border-radius: 0px;font-family: 微软雅黑;font-size: 12px;border: 1px solid #CCC;margin-right: 19px;}
.order7 tr td{ font-family: 微软雅黑;font-size: 14px; color:#666;border: 0px solid #e3e3e3;}
.order7 tr td span.ri{ color:#e80505;}
div label span.ri{ color:#e80505;}
div label{ font-family: 微软雅黑;font-size: 14px; color:#666;}



/*report_2*/
.M_7{ width:950px; margin:0 auto; background:#fff;margin-top: 10px; margin-bottom:20px;}
.M_7t{ width:911px; margin:0 auto;}
.M_7t h1{font-family: 微软雅黑;font-size: 18px; color:#0067b3; font-weight:normal; background:none; border-bottom-color: #ccc;border-bottom-style: solid;border-bottom-width: 1px;}
.M_7t1{ width:911px; margin:0 auto; margin-top:30px;padding-bottom: 30px;text-align: center;}
.M_7t1 img{ max-width:480px; max-height:680px;}

table.jo{ width: 910px;margin: 0 auto; display:none;}
table.jo td span{font-family: 微软雅黑;font-size: 14px;color: #666;}

/*Inspection_3*/
.main_rr{ width:950px;float:right;}
.main_rr .o_k6{ margin-top:0px;}
.M_8{ width:950px; margin:0 auto; background:#fff; margin-bottom:20px; border:1px solid #e3e3e3;padding-top: 20px;}
.M_8t{ width:911px; margin:0 auto;}
.M_8top{ overflow:hidden;border-bottom-style: solid;border-bottom-color: #e3e3e3;border-bottom-width: 1px;margin-bottom: 20px;padding-bottom: 10px;}
.M_8top img{ width:98px; float:left;}
.M_8top ul{ float:right;}
.M_8top ul li{ text-align:right;}
.M_8top ul li p{ font-family: 微软雅黑;font-size: 14px;color: #898989;}
.M_8tmain{ overflow:hidden;margin-bottom: 20px;padding-bottom: 10px;}
.M_8tmain .img{ width:98px; float:right;}
.M_8tmain ul{ float:left;}
.M_8tmain ul li{ text-align:left;}
.M_8tmain ul h1{  font-family: 微软雅黑;font-size: 32px;color: #333; font-weight:bold; margin-bottom:10px;}
.M_8tmain ul li p{ font-family: 微软雅黑;font-size: 14px;color: #898989; font-weight:normal;}

.M_9{ width:950px; float:right;margin-top: 20px;margin-bottom: 20px;}
.M_9 h3{ font-family: 微软雅黑;font-size: 18px;color: #0067b3; font-weight:normal; margin-left:10px;width: 160px;float: left;}
.M_9t{ background:#fff; width:210px; height:26px; float:left; border:1px solid #e3e3e3;}
.M_9t p{ font-family: 微软雅黑;font-size: 12px;color: #898989;text-align: center;height: 26px;line-height: 26px;}

.order_11{ background: #0067b3;}
.order_11 td{border:0px; color:#fff;font-family: 微软雅黑;font-size: 14px;}
.order_3t1{height: 50px;}
.order_3t1 td{ text-align:center;font-family: 微软雅黑;font-size: 12px;border:1px solid #cbeaf9; background:#fff;}
.order_3t1 td p a{color:#666;}


.dy1{ width:450px; height:360px; background:#fff;margin-top: 24px; border:1px solid #e3e3e3; margin-right:5px;}
.dy1 h1{ font-family: 微软雅黑;font-size: 16px;color: #0067b3; font-weight:normal;padding-top: 10px;padding-left: 11px;}
.dy1 table{ width:420px; margin:0 auto;margin-top: 20px;}
.dy1 table td input{ width:120px; border-radius:0px; height:33px; }
.dy1 table td{ font-family: 微软雅黑;font-size: 14px; color:#666; border:0px; height:40px;}
.dy1 table td.dy1r{ text-align: right; padding-right:4px;}

.M_9 ul li{ float:left;}
.dy2{ width:240px; height:360px; background:#fff;margin-top: 24px;border:1px solid #e3e3e3;margin-right:5px;}
.dy3{ width:240px; height:360px; background:#fff;margin-top: 24px;border:1px solid #e3e3e3;}


.dy2 h1{ font-family: 微软雅黑;font-size: 16px;color: #0067b3; font-weight:normal;padding-top: 10px;padding-left: 11px;}
.dy2 table{ width:200px; margin:0 auto;margin-top: 20px;}
.dy2 table td input{ width:120px; border-radius:0px; height:33px; }
.dy2 table td{ font-family: 微软雅黑;font-size: 14px; color:#666; border:0px; height:40px;}
.dy2 table td.dy1r{ text-align: right; padding-right:4px;}


.dy3 h1{ font-family: 微软雅黑;font-size: 16px;color: #0067b3; font-weight:normal;padding-top: 10px;padding-left: 11px;}
.dy3 table{ width:200px; margin:0 auto;margin-top: 20px;}
.dy3 table td input{ width:120px; border-radius:0px; height:33px; }
.dy3 table td{ font-family: 微软雅黑;font-size: 14px; color:#666; border:0px; height:40px;}
.dy3 table td.dy1r{ text-align: right; padding-right:4px;}

ul.diy_select_list li{ float:none;}

/*SERVICE_2*/
.M_10{ width:950px; margin:0 auto;margin-top:20px;background: #fff;}
.M_10 p.nm{ text-align:right; color:#FFF; font-family: 微软雅黑;font-size: 12px; background:url(../img/M_4.png) 826px no-repeat;padding-right: 16px; font-weight:bold;padding-top: 5px;
padding-bottom: 5px;}
.M_10 table{ margin-top:20px; width:950px;}
.M_10 table tr td a.aq{ float: left;margin-left: 40px;color:#0067b3;font-family: 微软雅黑;font-size: 12px;}
.M_10 table tr td a.ap{ margin-right: 31px;color:#ff0000;font-family: 微软雅黑;font-size: 12px;}
.M_10 table tr td div.i1{ background:url(../img/Service_2img.png) no-repeat; height:20px; width:20px;float: left;margin-left: 91px;margin-right: 3px;}
.M_10 table tr td div.i1:hover{background:url(../img/Service_2img2.png) no-repeat;}

.M_10 table tr td div.i2{ background:url(../img/Service_2img1.png) no-repeat; height:20px; width:20px;float: left;}
.M_10 table tr td div.i2:hover{background:url(../img/Service_2img3.png) no-repeat;}



/*service第一步*/
.main_ror12{ width:950px;float:right;}
.main_ror12 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;font-weight: normal;}
.main_ror12 .o_li2{width:950px;float:right; background:url(../img/Service_3_1li.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.main_ror12 .o_li2 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.main_ror12 .o_li2 p span{ margin-left:134px; margin-right:75px;}
.main_ror12 .o_li2 p span.ui{ color:#fff;}

.main_ror13{ width:950px;float:right;}
.main_ror13 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;font-weight: normal;}
.main_ror13 .o_li2{width:950px;float:right; background:url(../img/Service_3_1li2.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.main_ror13 .o_li2 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.main_ror13 .o_li2 p span{ margin-left:134px; margin-right:75px;}
.main_ror13 .o_li2 p span.ui{ color:#fff;}

.main_ror14{ width:950px;float:right;}
.main_ror14 h1{ color:#666;font-family: 微软雅黑;font-size: 24px;font-weight: normal;}
.main_ror14 .o_li2{width:950px;float:right; background:url(../img/Service_3_1li3.png) no-repeat; position:relative; height:52px;line-height: 52px;margin-top: 18px;}
.main_ror14 .o_li2 p{ font-family:微软雅黑; font-size:14px; color:#666;}
.main_ror14 .o_li2 p span{ margin-left:134px; margin-right:75px;}
.main_ror14 .o_li2 p span.ui{ color:#fff;}

.rp{ width:950px; float:right; background:#fff;margin-top:20px; border:1px solid #e3e3e3;}
.rp1{ width:911px; margin:0 auto; }
.rp1 h1{ color:#0067b3;font-family: 微软雅黑;font-size: 24px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 20px; padding-top:20px;}
.rp1 h2{ color:#0067b3;font-family: 微软雅黑;font-size: 18px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 20px; padding-top:20px; font-weight:normal;}
.rp1 ul{ margin-top:20px;border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 47px;}
.rp1 ul li{ float:left; width:110px; height:30px; line-height:30px;}
.rp1 ul li input{ float:left; height:30px;margin-right: 10px;}
.rp1 ul li p{ color:#666;font-family: 微软雅黑;font-size:12px;}
.rp1 ul.rpu{ width:500px; margin:0 auto;margin-top: 50px; border:none;}
.rp1 ul.rpu li{ float: none;width: 550px;height: 41px;}
.rp1 ul.rpu li p span{color:#0067b3;font-family: 微软雅黑;font-size:24px;}
.rp1 table tr td{ border:none;padding-left: 10px;}

.spo{ width:950px; float:right; margin-top:20px;}
.spo h3{ color:#333;font-family: 微软雅黑;font-size: 18px; margin-bottom:10px;}
.spo table{ width:950px; background:#fff;}
.spo table tr td{ border:1px solid #e3e3e3; height:40px;}
.spo table tr.order_1 td{ border:1px solid #0080df;}
.spo table tr td.order_1t span a{ background:#ff852e; color:#fff; padding-top: 2px;padding-bottom: 2px;padding-left: 5px;padding-right: 5px;}
.spo table tr td.si span{color:#fff;font-family: 微软雅黑;font-size: 12px; padding-top: 2px;padding-bottom: 2px;padding-left: 5px;padding-right: 5px; background:#0067b3;}


.mah{ width:950px; float:right;}
.mah h1{color:#0067b3;font-family: 微软雅黑;font-size: 24px; font-weight:bold;margin-bottom: 20px;}
.mal{ width:950px; margin:0 auto; background:#fff; border:1px solid #e3e3e3;}
.mal h2{color:#0067b3;font-family: 微软雅黑;font-size: 18px; font-weight:normal;margin-left: 20px;margin-bottom: 10px;margin-top: 20px;}
.mal table{ width:911px; margin:0 auto;}
.mal table tr.ak td{color:#fff;font-family: 微软雅黑;font-size: 14px; background:#0067b3;}
.mal table tr td{ border-left:0px; border-right:0px;}
.mal table tr td.ak9{ color:#ff9200;}

.ma2{ width:910px; margin:0 auto; margin-top:10px;}
.ma2 table{ width:910px;}
.ma2 table tr.ak td{color:#fff;font-family: 微软雅黑;font-size: 14px; background:#0067b3;}
table.akk{ margin-top:20px; background:#f1f1f1; width:910px; margin:0 auto;height: 60px; margin-bottom:25px;}
table.akk tr td{color:#333;font-family: 微软雅黑;font-size: 14px; border:0px;}

.main_ror16{ width: 950px;float: right;min-height: 365px; }
.order16{ background:#fff;border:1px solid #e3e3e3;}
.order16 h1{padding-top: 13px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;padding-top: 19px;}
.order16 table{ width:897px; margin:0 auto;margin-top: 18px;}
.order16 form input{ width:205px; height:34px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;font-family: 微软雅黑;font-size: 12px;border: 1px solid #CCC;margin-right: 19px;}
.order16 tr td{ font-family: 微软雅黑;font-size: 14px; color:#666;border: 0px solid #e3e3e3;}
.order16 tr td span{color: #898989;padding-left: 17px;vertical-align: bottom;font-family: 微软雅黑;}

.so{height: 50px;margin-top: 20px;margin-left: 35px;}
.so span{font-family: 微软雅黑;font-size: 14px; color:#333;}
.M_6 tr td.sp p{ background:#d00f0f; color:#fff;font-family: 微软雅黑;font-size: 12px; height:30px; width:60px; text-align:center; margin-left:16px;vertical-align: middle;line-height: 30px;}

table tr td.spp{ text-align: left;padding:10px;}
.M_4 table tr td p{ font-family: 微软雅黑;font-size: 12px; color:#666;}

.tan1{ width:910px;}
.aap{ width:850px; margin:0 auto;}
.tan1 ul{ width:420px; float:left;margin-top: 20px;height: 500px;}
.tan1 table{ width:410px; float:right;}
.tan1 h3{ color:#0067b3;font-family: 微软雅黑;font-size: 16px;border-bottom: 1px;
border-bottom-color: #e3e3e3;border-bottom-style: solid; margin-top:20px; margin-left:30px;}
.tan1 table tr th.th_1{text-align: right;}
.tan1 table tr th{font-weight:normal;font-family: 微软雅黑;font-size: 14px; }
.tan1 ul li{ margin-bottom:10px;}
.tan1 ul li span{ color:#333;font-family: 微软雅黑;font-size: 14px; vertical-align: top;}
.tan1 ul li input{ border-radius:0px; height:34px; width:340px;}
.tan1 ul li textarea{border-radius:0px; height:92px; width:340px; resize:none;}

.aap table{ width:410px; float:right;} 
.aap table tr td{ height:30px;}
.aap table tr td.la{ text-align:left; padding-left:15px; padding-right:15px;}

.M_4 table{ margin-bottom:10px;}
.M_4 table tr td span.ls{  background:#0067b3;padding: 3px 5px 3px 5px;}
.M_4 table tr td span.hs{  background:#ff852e;padding: 3px 5px 3px 5px;}

.M_4 table tr td span.ls a,.M_4 table tr td span.hs a{color:#fff;font-family: 微软雅黑;font-size: 12px; }

.et{ background:#fff; width:950px; height:160px; border:1px solid #e3e3e3; margin-top:10px;}
.et ul{ margin-top:20px; margin-left:20px;}
.et ul li{ color:#666;font-family: 微软雅黑;font-size: 14px; height:25px; }

.M_6 table tr td span a{ color:#fff; font-family: 微软雅黑;font-size:12px; padding:5px;}

/*机构部门管理*/
.M_14{ width:950px; float:right;margin-top:20px;background: #f5f5f5; }
.M_14 p.nm{ text-align:left; color:#FFF; font-family: 微软雅黑;font-size: 12px; background:url(../img/M_4.png) 0px no-repeat;padding-left: 30px; font-weight:bold;padding-top: 5px;
padding-bottom: 5px;}
.tan table.tabl{ width:500px;margin-left: 60px; }

.M_14 table{ margin-bottom:10px; width:950px;background: #fff;margin-top:20px;}
.M_14 table tr td span.ls{  background:#0067b3;padding: 3px 5px 3px 5px;}
.M_14 table tr td span.hs{  background:#ff852e;padding: 3px 5px 3px 5px;}

.M_14 table tr td span.ls a,.M_14 table tr td span.hs a{color:#fff;font-family: 微软雅黑;font-size: 12px; }


.main_ror98{ width: 950px;float: right;min-height: 365px;}
.main_ror98 h1{margin-top: 13px;margin-left: 8px; background:url(../img/r_line.png) center bottom no-repeat;padding-bottom: 13px;padding-left: 19px;font-family:微软雅黑; font-size:20px;}
.rp2 tr td{}
.rp2 tr td input{ width:450px;color:black;;font-family:微软雅黑; font-size:12px; height:33px;margin-left: 20px;text-indent: 1em; border-radius:0px;float: left;}
.rp2 tr td textarea{ width:450px;color:black;;font-family:微软雅黑; font-size:12px; margin-left: 20px;text-indent: 1em; border-radius:0px;float: left;}
.rp{ width:950px; float:right; background:#fff;margin-top:20px; border:1px solid #e3e3e3;}
.rp2{ width:911px; margin:0 auto; }
.rp2 h1{ color:#0067b3;font-family: 微软雅黑;font-size: 24px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 20px; padding-top:20px;}
.rp2 h2{ color:#0067b3;font-family: 微软雅黑;font-size: 18px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 20px; padding-top:20px; font-weight:normal;}
.rp2 table tr td{ border:none;}
.rp2 table tr td span{vertical-align: middle;height: 33px;line-height: 33px;}


.rp3{ width:911px; margin:0 auto; }
.rp3 h1{ color:#0067b3;font-family: 微软雅黑;font-size: 24px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 20px; padding-top:20px;}
.rp3 h2{ color:#0067b3;font-family: 微软雅黑;font-size: 18px; padding-bottom: 20px; padding-top:20px; font-weight:normal;}
.rp3 table tr td{ border:none;}
.rp3 table tr td span{vertical-align: middle;height: 33px;line-height: 33px;}
.rp3 tr td input{ width:220px;color:#222;font-family:微软雅黑; font-size:12px; height:33px;margin-right: -21px;text-indent: 1em; border-radius:0px;float: left;}

.rp4{ width:911px; margin:0 auto; }
.rp4 h1{ color:#0067b3;font-family: 微软雅黑;font-size: 24px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px;padding-bottom: 20px; padding-top:20px;}
.rp4 h2{ color:#0067b3;font-family: 微软雅黑;font-size: 18px; padding-bottom: 20px; padding-top:20px; font-weight:normal;}
.rp4 h3{ color:#333;font-family: 微软雅黑;font-size: 16px; padding-bottom: 20px;  font-weight:normal; float:left;}
.rp4 table tr td{ border:none;}
.rp4 table tr td span{vertical-align: middle;height: 33px;line-height: 33px;}
.rp4 tr td input{ width:220px;color:#222;font-family:微软雅黑; font-size:12px; height:33px;margin-right: -21px;text-indent: 1em; border-radius:0px;float: left;}

.M_16{ width:910px; margin:0 auto;margin-top:20px; background:#fff; }
.M_16 table{ margin-top:20px;width: 910px;}
.M_16 table tr.top_o6 td{ border:1px solid #0067b3;}
.M_16 table tr td{ border:1px solid #e3e3e3;}

.M_17{ width:910px; margin:0 auto;margin-top:20px; background:#fff; }
.M_17 table{ margin-top:20px;width: 910px;}
.M_17 table tr td{ border:0px solid #e3e3e3;}

.rp h4{color:#333;font-family: 微软雅黑;font-size: 16px; border-bottom-color:#e3e3e3; border-bottom-style:solid; border-bottom-width:1px; font-weight:normal; margin-bottom:20px; padding-bottom:10px; }

.form-control{width: 290px;height: 250px;}
.form-control option{color:#666;}
.M_s{ width:950px; float:right; background:#0067b3; height:40px;margin-top: 10px;}
.M_s td{border:0;}
.M_s ul li{ float:left; margin-right:30px;margin-right: 93px;line-height: 40px; margin-left:24px;}
.M_s ul li span{ color:#fefefe;font-family: 微软雅黑;font-size: 14px; }
table tr td.al{ border:0px;color:#666;font-family: 微软雅黑;font-size: 12px; }
table tr td.al p{ background:#fff; }

table.ty{ width:950px; float:right; background:#fff; display:none;}
table.ty tr.ju td{ background:#f5f5f5; height:30px;}
table.ty tr td{ text-align:left; padding:10px;}

.M_st{ overflow:hidden;}