<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zust.itee.mapper.user.UserResourceMapper">

    <!-- 插入  -->
    <insert id="save" parameterType="com.zust.itee.entity.user.UserResource"
        useGeneratedKeys="true"
        keyProperty="id">
        INSERT INTO ota_user_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="resourceId != null">
                resource_id,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="resourceId != null">
                #{resourceId},
            </if>
            <if test="time != null">
                #{time},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <!-- 根据id获取  -->
    <select id="getById" parameterType="int"
        resultType="com.zust.itee.entity.user.UserResource">
        SELECT *
        FROM ota_user_resource
        WHERE id = #{id}
    </select>

    <!-- 根据查询条件获取(精确查询) -->
    <select id="listByFilter" parameterType="Map"
        resultType="com.zust.itee.entity.user.UserResource">
        SELECT *
        FROM ota_user_resource
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="resourceId != null">
                and resource_id = #{resourceId}
            </if>
            <if test="time != null">
                and time = #{time}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
        order by update_time desc
        limit #{offset},#{limit}
    </select>

    <!-- 根据精确查询count -->
    <select id="countByFilter" parameterType="com.zust.itee.entity.user.UserResource"
        resultType="Long">
        SELECT count(id)
        FROM ota_user_resource
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="resourceId != null">
                and resource_id = #{resourceId}
            </if>
            <if test="time != null">
                and time = #{time}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="com.zust.itee.entity.user.UserResource">
        UPDATE ota_user_resource
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="resourceId != null">
                resource_id = #{resourceId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>

