<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zust.itee.mapper.resource.UserResourceQuestionMapper">

    <!-- 插入  -->
    <insert id="save" parameterType="com.zust.itee.entity.resource.UserResourceQuestion"
        useGeneratedKeys="true"
        keyProperty="id">
        INSERT INTO ota_user_resource_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="resourceQuestionId != null">
                resource_question_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="resourceQuestionId != null">
                #{resourceQuestionId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 根据id获取  -->
    <select id="getById" parameterType="int"
        resultType="com.zust.itee.entity.resource.UserResourceQuestion">
        SELECT *
        FROM ota_user_resource_question
        WHERE id = #{id}
    </select>

    <!-- 根据查询条件获取(精确查询) -->
    <select id="listByFilter" parameterType="Map"
        resultType="com.zust.itee.entity.resource.UserResourceQuestion">
        SELECT *
        FROM ota_user_resource_question
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="resourceQuestionId != null">
                and resource_question_id = #{resourceQuestionId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </trim>
        limit #{offset},#{limit}
    </select>

    <!-- 根据精确查询count -->
    <select id="countByFilter" parameterType="com.zust.itee.entity.resource.UserResourceQuestion"
        resultType="Long">
        SELECT count(id)
        FROM ota_user_resource_question
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">  <if test="id != null">
            and id = #{id}
        </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="resourceQuestionId != null">
                and resource_question_id = #{resourceQuestionId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </trim>
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="com.zust.itee.entity.resource.UserResourceQuestion">
        UPDATE ota_user_resource_question
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="resourceQuestionId != null">
                resource_question_id = #{resourceQuestionId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>

