<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zust.itee.otauser.impl.mapper.UserMapper">

    <!-- 插入  -->
    <insert id="save" parameterType="com.zust.itee.otauser.client.domain.User"
        useGeneratedKeys="true"
        keyProperty="id">
        INSERT INTO ota_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="orgId != null">
                #{orgId},
            </if>
            <if test="areaId != null">
                #{areaId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="level != null">
                #{level},
            </if>
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <!-- 根据id获取  -->
    <select id="getById" parameterType="int"
        resultType="com.zust.itee.otauser.client.domain.User">
        SELECT *
        FROM ota_user
        WHERE id = #{id}
    </select>

    <!-- 根据查询条件获取(精确查询) -->
    <select id="listByFilter" parameterType="Map"
        resultType="com.zust.itee.otauser.client.domain.User">
        SELECT *
        FROM ota_user
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
            <if test="areaId != null">
                and area_id = #{areaId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
        limit #{offset},#{limit}
    </select>

    <!-- 根据精确查询count -->
    <select id="countByFilter" parameterType="com.zust.itee.otauser.client.domain.User"
        resultType="Long">
        SELECT count(id)
        FROM ota_user
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
            <if test="areaId != null">
                and area_id = #{areaId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="com.zust.itee.otauser.client.domain.User">
        UPDATE ota_user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="orgId != null">
                org_id = #{orgId},
            </if>
            <if test="areaId != null">
                area_id = #{areaId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 用户登录 -->
    <select id="login" parameterType="com.zust.itee.otauser.client.domain.User"
        resultType="com.zust.itee.otauser.client.domain.User">
        SELECT * FROM
        ota_user
        WHERE
        ( name = #{name} or phone = #{phone} ) and password = #{password}
    </select>

    <!-- 用户搜索 -->
    <select id="listBySearch" parameterType="Map"
        resultType="com.zust.itee.otauser.client.domain.User">
        SELECT *
        FROM ota_user
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="name != null">
                and name LIKE #{name}
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
            <if test="areaId != null">
                and area_id = #{areaId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
        limit #{offset},#{limit}
    </select>

    <!-- 用户搜索结果数  -->
    <select id="countBySearch" parameterType="com.zust.itee.otauser.client.domain.User"
        resultType="Long">
        SELECT count(id)
        FROM ota_user
        <trim prefix="where" prefixOverrides="and " suffixOverrides=",">
            <if test="name != null">
                and name LIKE #{name}
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
            <if test="areaId != null">
                and area_id = #{areaId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
    </select>

</mapper>

