.search-bar{
	width: 100%;
	height: 82px;
	margin-top: 12px;
	line-height: 20%;
	border:1px solid #ececec;
	box-shadow: 0px 5px 5px #ececec;
	border-radius: 5px;
	background: #fff;
}
.search-bar-input{
	height: 30px;
	line-height: 30px;
}
.search-bar-label{
	padding: 5px 15px;
}
.layui-input {
	height: 30px;
}
.choose-area{
	min-width: 30% !important;
	margin-top: 2%;
}
.train-info{
	width: 100%;
	height: 98px;
	margin-top: 22px;
	line-height: 20%;
	border:1px solid #ececec;
	box-shadow: 0px 5px 5px #ececec;
	border-radius: 5px;
}
.train-info .train-info-detail{
	height: 30px;
	line-height: 30px;
    width: 55%;
}
.rsearch-bar .layui-form-label{
	width: 25%;
    padding: 9px 5px;
}
.train-info .layui-inline{
	margin-top: 5px;
	width: 19%;
    margin-right: 0px;
}
.rsearch-bar .layui-input-inline{
	padding: 5px 0px;
	width: 55%;
}
.rsearch-bar-btn{
	height: 30px;
	line-height: 30px;
}
.choose-area{
	min-width: 30% !important;
	margin-top: 2%;
}




