<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<div id="app">
	<div class="layui-container">
		<div class="layui-row">
	    	<div class="layui-col-md7">
	    		<div id="login-img">
					<img src="../static/images/left1.jpg">
				</div>
	    	</div>
		    <div class="layui-col-md5">
		    	<div id="login">
					<fieldset class="layui-elem-field layui-field-title">
					  <legend style="font-size: 18px">登&nbsp录</legend>
					</fieldset>
					<form class="layui-form" action="">
			
						<div class="layui-form-item">
							<div class="wrap-item">
				        		<i class="layui-icon" style="font-weight: bold;">&#xe63b;</i>
				        		<input type="text" v-model="name"  placeholder="手机号/用户名" autocomplete="off" class="layui-input">
				    		</div>
						</div>		
			
						<div class="layui-form-item">
							<div class="wrap-item">
				        		<i class="layui-icon">&#xe64c;</i>
				        		<input type="password" v-model="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
				    		</div>
						</div>
					                                                        				
					    <button type="button" class="layui-btn layui-btn-fluid login-btn" @click="login">登录</button>				
					</form>	
					
				</div>
		    </div>
		 </div>
	</div>
	
	<div id="login-footer">
	    <!-- 底部固定区域 -->
	    <p>版权所有 © 浙江科技学院 xcb@zust.edu.cn 浙ICP备11051284号</p>
	
	  	<p>地址：浙江·杭州市留和路318号 邮编：310023</p>
	</div>
</div>	

</body>
<script src="../static/js/jquery-2.1.0.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/js/login.js"></script>
</html>