.video-detail{
	width: 100%;
	min-height: 498px;
	margin-top: 22px;
	margin-bottom: 20px;
	border:1px solid #ececec;
	box-shadow: 0px 5px 5px #ececec;
	border-radius: 5px;
}
.video-detail-inline div{
	margin-top: 10px;
}
.summary {
	line-height: 22px;
	font-size: 16px;
	font-family: '幼圆';
	text-indent:2em;
}
.rsearch-bar .layui-inline{
	margin-top: 5px;
	width: 18%;
}
.rsearch-bar .layui-input-inline{
	padding: 5px 0px;
	width: 55%;
}
.rsearch-bar-btn{
	height: 30px;
	line-height: 30px;
}




