/*common start*/
*{
    font-family: "microsoft yahei", "微软雅黑";
}
body {
    padding-bottom: 70px;/*有底部固定导航条时设置*/
}
table{
    font-size: inherit;
}
img{
    padding: 5px;
}
.header .navbar{
    margin-bottom: 0;
}
.navbar-header{
    margin: 10px 0px;
}
.nav{
    margin-left: 50px;
}
.btn{
    width: 120px;
}
#su_user{
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
}
.common_bg{
    background-color: #337ab7;
    border: none;
    box-shadow: 0 0 5px #5c5c5c;
}
.common_bg .common_color{
    color: #ffffff;
}
.common_bg .common_color:hover{
    color: #ffffff;
}
.menu_underline:hover{
    text-decoration: underline !important;
}
.sub_menu{
    list-style: none;
    display: none;
    background-color: #f9f7f3;
}
.sub_menu li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sub_menu .list_hover{
    color: #337ab7;
}
.nav a{
    color: #000000;
}
.nav>li>a{
    /*border-left: 3px solid #dddddd;*/
    /*border-bottom: 1px solid #dddddd;*/
    /*border-right: 1px solid #dddddd;*/
}
.nav_title{
    height: 40px;
    line-height: 40px;
    background-color: #337ab7;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.nav>li>.a_hover{
    /*border-left: 3px solid #337ab7;*/
    /*text-decoration: none;*/
    /*background-color: #eee;*/
}
.tips{
    font-size: 10px;
    color: darkgray;
    margin-left: 20px;
}
label[class*='error']{
    color: red;
    font-size: 10px;
    font-weight: normal;
}
.error{

}
.table_save{
    width: 60px;
}
#footer_navbar{
    line-height: 50px;
}
.footer{
    font-size: 12px;
    text-align: center;
}
/*common end*/

/*login start*/
#content{
    margin-top: 100px;
}
.driverLogin-header h2{
    color: #337ab7;
}
.login_row{
    margin-right: 40px;
    margin-left: 40px;
}
.username{
    padding-left:25px;
    background-image: url("../images/userName.png");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 5px;

}
.password{
    padding-left:25px;
    background-image: url("../images/password.png");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 5px;
}
#login_panel{
    box-shadow: 0px 0px 10px #5c5c5c;
}
#login_form{
    margin-top: 20px;
}
.login_btn{

    margin-right: 10px;
    margin-top: 15px;
}
#login_error{
    height: 35px;
    line-height: 35px;
    background-color: #f9690e;
    color: #ffffff;
    text-align: center;
    /*display: none;*/
}
#staffBtn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #a2cfde;
    position: fixed;
    bottom: 70px;
    right: 35px;
    text-align: center;
    background-color: #7ec9e3;
    font-size: 14px;
    color: #ffffff;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
#staffBtn img{
    width: 50px;
    display: block;
    margin: 2px auto;
}
#staffBtn:hover{
    border-color: #4397b3;
    background-color: #55c1e5;
    z-index: 11;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none;
}
/*login end*/
/*index start*/
.message_item{
    display: inline-block;
    width: 300px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #000000;
}
.time{
    float: right;
    color: darkgray;
}
.label_message{
    padding-top: 5px;
    margin-bottom: 0px;
    text-align: left;
    font-weight: normal;
}
#certificates{
    width: 200px;
}
/*index end*/
/*signUp start*/
#operation{
    float: right;
}
#operation a{
    margin-right: 10px;
    color: #ffffff;
}
#operation a:hover{
    text-decoration: none;
    color: #23527c;
}
#record_num{
    font-weight: normal;
}
#search{
    font-weight: normal;
}
#search_text{
    display: inline-block;
    width: 200px;
}
#search_btn{
    width: 80px;
}
#registration_tab td{
    vertical-align: middle;
}
.num{
    color: #23527c;
    font-weight: normal;
}
#paging_nav{
    float: right;
}
.pagination{
    margin: 0px;
}
#page_text{
    display: inline-block;
    width: 120px;
}
#goto_btn{
    width: 80px;
}
.text_title{
    text-align: right;
    font-weight: normal;
}
.text_message{
    text-align: left;
    font-weight: normal;
}
/*signUp end*/
/*myExam start*/
#wait{
    color: darkgray;
}
#state{
    padding: 0px;
}
/*myExam end*/
/*indexOrg start*/
.pagination *{
    vertical-align: middle;
}
/*indexOrg end*/
/*release start*/
.name_div{
    padding: 5px 0px;
}
/*release end*/
/*formPaper start*/
#modality_part{
    display: none;
}
#top_setting{
    height: 20px;
}
.range{
    font-weight: bold;
    color: #337ab7;
}
.percent{
    margin-right: 6px;
}
#paper_content{
    margin-top: 20px;
}
#count{
    color: #666;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #e5eaf2;
    margin-top: -5px;
}
#count span{
    padding: 0 5px;
    color: #f9690e;
}
#extract{
    margin-top: -5px;
}
.list_header{
    height: 30px;
    line-height: 30px;
    background-color: #e4e7ea;
}
.list_body{
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    padding: 0px;
    height: calc(100% - 30px);

}
.list_item{
    height: 42px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f5f7fa;
    transition: background-color 0.1s linear;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;

}

.topic{
    color: #337ab7;
    height: 42px;
    line-height: 42px;
    border-left: 3px solid transparent;
    transition:  border-left-color 0.1s linear;
    cursor: pointer;
}
.topic_click{
    border-left: 3px solid #337ab7;!important;
}
.text{
    height: 34px;
    width: 60px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin: 0px 5px;
}
.text_field{
    padding: 4px 15px;
    vertical-align: middle;
    height: 100%;
}
.classify_list{
    background-color: #ffffff;
    list-style: none;
    padding: 0px;
    display: none;
}

.classify_item{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px dotted #e6e6e6;
    cursor: pointer;
}
.classify{
    padding-left: 30px;
}
#step2{
    display: none;
}
#message_top{
    height: 40px;
    line-height: 40px;
}
#passInfo{
    margin: 10px 0px;
    height: auto;
    zoom: 1;
    overflow: hidden;
}
#passing_score{
    display: none;
}
#message_top .message_num{
    color: #f9690e;
    margin: 0px 10px;
}
#paper_type{
    width: 60%;
    display: inline-block;
}
#message_content{
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.text_area{
    border: 2px dashed #e6e6e6;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 10px 18px;
    line-height: 20px;
    color: #656D78;
    max-height: 200px;
}
#go_back{
    width: 180px;
}
#operation2{
    float: right;
    margin-top: -6px;
}
.paper_btn{
    width: 180px;
    margin: 10px auto;
}
.spinner {
    width: 60px;
}
.spinner input {
    text-align: right;
}
.input-group{
    display: inline-table;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 1px;
}
#paperPreview{
    display: none;
}
/*formPaper end*/
/*recording start*/
.submit_btn{
    display: block;
    margin-top: 15px;
}
.grade{
    display: inline-block;
    width: 100px;
}
/*recording end*/
/*automanticRecording start*/
#automatic_tip{
    text-align: center;
}
/*automanticRecording end*/
/*certificates start*/
.batch_update .col-md-2 .btn{
    width: 90px;
}

.certificates_pic{
    width: 100px;
    height: auto;
    cursor: pointer;
}


/*certificates end*/
/*practice start*/
.practice_content{
    margin-top: 50px;
}
#question{
    padding-left: 5px;
}
#answer_list{
    margin-top: 20px;
}
.answer_item{
    list-style: none;
    font-size: 18px;
    margin: 8px 0px;
    padding-left: 15px;
}
#answer{
    font-size: 18px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
#user_answer{
    display: inline-block;
}
.ua_item{

    list-style: none;
    display: inline-block;

}
.ua_item a{
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.answer_part .answer_right{
    color: #337ab7;
    border: 1px solid #337ab7;
    background-color: #e0f3fe;
}
.answer_part .answer_false{
    color: #f25e5e;
    border: 1px solid #f25e5e;
    background-color: #fee7e7;
}
#left_time{
    font-size: 30px;
}
.tip-content{
    height: 42px;
    line-height: 42px;
}
.group_btn{
    height: 135px;
    /*position: relative;*/
}
.group_btn .btn{
    margin-top: 80px;
}
#submit_paper{
    float: right;
}
.answer_part{
    list-style: none;
    padding: 0px;
}
.answer_part li{
    display: inline-block;
    margin-top: 4px;
}
.answer_part .col_head{
    margin-left: 0px;
}
.answer_part a{
    display: inline-block;
    width: 39px;
    height: 39px;
    border: 1px solid #dddddd;
    color: #000000;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}
.answer_part a:hover,.answer_hover,.ua_item a:hover{
    text-decoration: none;
    background-color: #dfdfdf;
}

/*practice end*/
/*new start*/
#carCompany{
    display: none;
}
.preview{
    height: 200px;
    display: none;
}
/*new end*/
/*list start*/
#list_body nav ul{
    list-style: none;
    margin: 10px 0px;
}
#list_body a{
    padding: 5px;
    display: inline-block;
    color: #000000;
    height: 34px;
    vertical-align: middle;
    border-left: 3px solid #dddddd;
    margin: 5px 0px;
}
#list_body .nextListShow{
    border-left: 3px solid #337ab7;
    text-decoration: none;
}
.second_list,.third_list,.forth_list{
    display: none;
}
/*list end*/
/*orgInfo start*/
.control-head{
    font-weight: normal;
}
.control-answer{
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: #337ab7;

}
#carCompany a{
    margin-left: 20px;
}
/*orgInfo end*/
/*fileManagement start*/
.btn_table{
    width: 60px;
    margin: 0px 5px;
}
#new_btn{
    margin-right: 10px;
}
/*fileManagement end*/
/*hr/department/list start*/
.btn_two{
    margin-left: 5px;
}
/*hr/department/list end*/
/*hr/announcement/browse start*/
.paragraph{
    text-indent: 25px;
}
#announcement_info{
    font-size: 10px;
    color: #8c8c8c;
    text-align: right;
    height: 30px;
    line-height: 30px;

}

/*hr/announcement/browse end*/
/*hr/driver/search start*/

#search_form{
    margin: 20px 0px;
}

/*hr/driver/search end*/

/*hr/driver/failSearch start*/

#idNum{
    color: #337ab7;
    margin: 0px 5px;
}

/*hr/driver/failSearch end*/
/*hr/driver/driverInfo start*/
.message_detail{
    display: none;
}
#staffDetailInfo{
    margin-top: 20px;
}
/*hr/driver/driverInfo end*/

/*exam/driver/questionManagement start*/


.questionManagement_body li{
    list-style: none;
}
.questionManagement_body .pb_top{
    height: 40px;
}
.question_item{
    margin: 5px auto;
}
.question_div{
    height: auto !important;
    zoom:1;
    overflow:hidden;
    background-color: #dddddd;
}
.question_div span{
    background-color: #dddddd;
    padding: 5px;
    border-radius: 3px;
}
.question_div .operation_btns{
    float: right;
}
.operation_btns button{
    margin-top: 30px;
}
.question_info{
    margin-top: 10px;
    margin-bottom: 10px;
}
.question_info .stem,.option,.mes{
    padding: 10px 5px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #ffffff;
}
.mes label{
    font-weight: normal;
    font-size: 12px;
}
.questionManagement_body #pb_content>ul{
    padding-left: 0px;
}
.question_info .stem{
    cursor: pointer;
}
.modal-body{
    height: auto !important;
    zoom: 1;
    overflow:hidden;
}
.option_item img{
    width: 100px;
    height: 100px;
}
.screen_list>li>a{
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
/*exam/driver/questionManagement end*/

/*exam/member/existedPaper start*/
.moreInfo_part{
    display: none;
}
/*exam/member/existedPaper end*/
/*exam/member/registrationManagement start*/
.car_company span{
    margin-right: 20px;
}
.car_company input{
    margin-left: 10px;
}
.user_item{
    display: inline-block;
    margin: 5px;
    list-style: none;
}
/*exam/member/registrationManagement end*/
/*exam/driver/driverLogin start*/
.driver_login{
    width: 100%;
}
/*exam/driver/driverLogin end*/